/* full page centering */
.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

/* white login box */
.loginCard {
  background: white;
  padding: 40px;
  border-radius: 16px;

  width: 340px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 14px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.loginCard h2 {
  margin: 0;
  font-size: 22px;
}

.loginCard p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* logo */
.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

/* inputs stacked */
.inputField {
  width: 100%;
  padding: 12px;
  font-size: 15px;

  border: 1px solid #ccc;
  border-radius: 10px;

  outline: none;
  transition: 0.2s;
}

.inputField:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59,130,246,0.15);
}

/* login button */
.loginButton {
  width: 100%;
  padding: 12px;

  font-size: 15px;
  font-weight: 600;

  background: #3b82f6;
  color: white;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  margin-top: 6px;

  gap: 12px;
}

.loginButton:hover {
  background: #05497c;
}

/* register link styled like text */
.registerLink {
  margin-top: 6px;

  font-size: 13px;
  color: #3b82f6;

  text-decoration: none;
}

.registerLink:hover {
  text-decoration: underline;
}